*{
    margin: 0;
    padding: 0;
}

@font-face{
font-family: arvo;
src: url(./fonts/Arvo-Regular.ttf);
}


body{
    font-family: 'Arvo', serif;
    background-color: black;
    font-size: 1em;
}

.conteiner{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 1.3em;
}

section{
    padding: 30px;
    background-image: url(./images/people.jpg);
    background-size: cover;
    overflow: hidden;
    
}

.formContainer{
    max-width: 230px;
    background-color: #ffffff69;
    float: right;
    padding: 20px;
}

h2{
    font-size: 1.1em;
}

.mb{
    margin-bottom: 15px;
}

input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color:#48c5ce;
    font-weight: 900;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(./images/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center ;
}

footer{
    background-color: #202121 ;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.txtFooter{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.txtFooter p, .txtFooter h2{
    margin-bottom: 20px;
}

.txtFooter h2{
    font-size: 1.5em;
}


@media screen and (max-width: 482px){
    .formContainer{
        max-width: 200px;
        float: none;
        margin: auto;
        padding: 20px;
    }

    footer{
      
    }

    .picture{
        margin: 10px;
    }

    .txtFooter{
        display: block;
        color: white;
        max-width: 40%;
        margin-top: 10px;
        margin: auto;
        text-align: left;
        font-size: 0.8em;
    }

    .txtFooter h2{
        font-size: 1.2em;
    }

    
}